<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Roll Dice</title>
    <div th:replace="partials/partials :: head" />
</head>
<body>
<div th:replace="partials/partials :: top_banner"></div>
<div th:replace="partials/partials :: standard_nav"></div>

<div class="container">

    <pageheader style="text-align: center">
        <h1>Guess the roll of the dice</h1>
        <h2>(Using two dice)</h2>
    </pageheader>

    <div th:fragment="roll-guess">
        <form method="post" action="/roll-dice">
            <label>Make your guess</label>
            <button name="guess" type="submit" value="2" class="btn btn-info">2</button>
            <button name="guess" type="submit" value="3" class="btn btn-info">3</button>
            <button name="guess" type="submit" value="4" class="btn btn-info">4</button>
            <button name="guess" type="submit" value="5" class="btn btn-info">5</button>
            <button name="guess" type="submit" value="6" class="btn btn-info">6</button>
            <button name="guess" type="submit" value="7" class="btn btn-info">7</button>
            <button name="guess" type="submit" value="8" class="btn btn-info">8</button>
            <button name="guess" type="submit" value="9" class="btn btn-info">9</button>
            <button name="guess" type="submit" value="10" class="btn btn-info">10</button>
            <button name="guess" type="submit" value="11" class="btn btn-info">11</button>
            <button name="guess" type="submit" value="12" class="btn btn-info">12</button>
        </form>
    </div>
</div>

<div th:replace="partials/partials :: footer_nav"></div>
<div th:replace="partials/partials :: footer"></div>
</body>
</html>